@model GameGallery.Models.Game

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}

    
<h1>@Model.SeriesTitle</h1>
<h2>Ranking #@Model.Ranking</h2>

<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>


@if (Model.Creaters.Length > 0)
{
<h5>Creaters:</h5>
<div>   
        <ul>
        @foreach (var creater in Model.Creaters)
        {
            <li>@creater.Role: @creater.Name</li>
        }
        </ul>
</div>
}
 
