@{
    Layout = null;

    var seriesTitle = "Grand Theft Auto 5";
    var ranking = 1;
    var description = "<p>The biggest, most dynamic and most diverse open world ever created, Grand Theft Auto V blends storytelling and gameplay in new ways as players repeatedly jump in and out of the lives of the game’s three lead characters, playing all sides of the game’s interwoven story.<strong></p>";
    var creaters = new string[]
    {
        "Developer: Rockstar North",
        "Publisher: Rockstar Games",
        "Series: Grand Theft Auto",
        "Platform: Xbox One, Playstation 4, PC"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
            <h1>@seriesTitle</h1>
            <h2>Ranking #@ranking</h2>

            <h5>Description:</h5>
            <div>@Html.Raw(description)</div>


            @if (creaters.Length > 0)
            {
            <h5>Creaters:</h5>
            <div>   
                  <ul>
                    @foreach (var creater in creaters)
                    {
                        <li>@creater</li>
                    }
                   </ul>
            </div>
            }
    </div>
</body>
</html>
