@model GameGallery.Models.Game[]

@{
    ViewBag.Title = "Games";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var game in Model)
    {
    <div class="col-md-3">
        <h4>@Html.ActionLink(game.DisplayText, "Detail",
           new { id = game.Id })</h4>

        <a href="@Url.Action("Detail", new { id = game.Id })">
        <img src="~/Images/@game.CoverImageFileName"
             alt="@game.DisplayText"
             class="img-responsive" />
        </a>
    </div>
    }
</div>

